*+*{
    margin:0;
    box-sizing: border-box;
}
body,html,#root{
    width: 100%;
    height: 100%;
}
.container__principal{
    background-color: #81bdf1c5;

    gap: 8px;
    height: 100%;
    width: 100%;
    display:grid;
    grid-template-areas:"header header header"
    "sidebar contenido contenido"
    "footer footer footer";
    grid-template-rows: 125px 1fr 150px;
    grid-template-columns: 200px 1fr 200px
}

.modal__spinner{
    border: none;
    background-color: transparent;
}

.row{
    width: 100%;
}

.container__home{
    gap: 8px;
    height: 100%;
    width: 100%;
    display:grid;
    grid-template-areas:
    "contenido contenido contenido";
    grid-template-rows: auto;
    grid-template-columns: auto
}

ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    padding: 0px 16px;
    margin: 0;
}

aside li{
    padding-bottom: 16px ;
    border-bottom: 1px solid rgba(0, 0, 0, 0.39);
}

aside li a{
    color: white;
}

.usuario__nombre{
    text-transform: capitalize;
}
img{
    width: 100%;
    height: auto;
}

.logo{
    width: 125px;
    height: 125px;
}

.avatar{
    margin: 10px auto 0px;
    overflow: hidden;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
header{
    grid-area: header;
    display: flex;
    background-color: #0274d86c;
    justify-content: space-between;
    align-items: center;
}

.card_prueba{
    background-color: #f4fa9ac5;
    border: none;
}
.card__evento{
    display: flex;
    flex-direction: row;
}
.card__body li{
    list-style: none;
}
.card__styleInfo{
    font-weight: bolder
}

.card__box{
    transition: all 0.5s;
    box-shadow: 5px 5px 15px 5px #888888;
    background-color: #f4fa9ac5;
    border-radius: 8px;
}
.imagen__card{
    width: 200px;
    height: 200px;
}
.card__wrapper:hover .card__box{
    transform: scale(1.2);
}
.card__wrapper:hover{
    z-index: 1;
}

.card__link{
    padding: 10px 10px;
    display: block;
}

.button__option.selected{
    background-color: rgb(92, 196, 109);
}

.cards__container{
    width: 100%;
    height: 100%;

}
.card__image{
    height: 225px;
}

.filters{
    box-shadow: 0px 0px 15px 3px #586dc9;
    border-radius: 8px;
    background-color: #f0f79f;
    padding: 20px 8px;
    margin: 10px 8px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-toolbar{
    align-items: center;
    gap: 8px;
}
.btn-group{
    gap: 2px;
}

.input-group{
    width: auto;
    flex-direction: column;
}

.search__wrapper{
    display: flex;
    gap: 4px;
}

.filter__selection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


aside{
    background-color: #0274d86c;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    grid-area: sidebar;
}
section{
    /*overflow: hidden;*/
    grid-area: contenido;
}
.container__login{
    grid-area:contenido;
    display:flex;
    justify-content:center;
}
footer{
    grid-area:footer;
    background-color: #0274d86c;
}
/* ESTILOS DEL TITULO */
.bienvenido{
    font-size:2.5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 40px;
    color: #0275d8;
}
/* estilos para que quede bonito */
.container{
    width:100%;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* separacion de los botones */
.botones__login{
    margin:10px;
    
}
/* titulo del componente de Login o Register */
.componente__titulo{
    font-size:1.5rem;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #0275d8;

}
footer h1{
   color:white;
}
/* FOOTER */
/* titulo del footer */
.contact p{
    color:white;
    font-size:1.5rem;
    display:flex;
    justify-content: center;
    align-items: center
}
/* Barra de iconos del footes */

.icons__rows{
    display:flex;
    justify-content:space-around;
}

/* CSS mapa  */
.fullwidth{
    width: 100%;
    height: 100%;
}
.map__container{
    width: 100%;
    height: 100%
}

.container__modal{
    width: 800px;
    height: 800px;
    overflow: auto;
    position: absolute;
    top: 5%;
    left: 40%;
    
}